/* About Us Section */

.about {
    position: relative;
    display: inline-block;
}

.about__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: -900rem;
    width: 940rem;
    height: 40px;
    border-bottom: 2px solid white;
    background: linear-gradient(to right, #5e6140 94%, #108076c5);
    clip-path: polygon(0 0, 99.5% 0, 100% 100%, 0% 100%);
    transform-origin: left;
    z-index: -1;
    opacity: 0.9;
}

.about__text-container {
    display: flex;
    flex-direction: column;
    position: relative;
    border-left: gray 3px solid;
    margin-top: 3px;
    padding: 40px 30px;
    gap: 15px;
}

.about__text-container::before {
    content: "";
    position: absolute;
    left: -2px;
    top: 12%;
    height: 75%;
    width: 4px;
    z-index: 2;
    background-color: white;
}

.about__text {
    inline-size: var(--default-inline-size);
}