:root {
    /* ===== Default Variables ===== */
    --default-border-radius: 15px;
    --default-line-height: 1.5;
    --default-inline-size: 80%;
    --default-max-width: 1500px;


    /* ===== Main ===== */
}