* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #a2c0d5, #e3eef7);
}

/* Header */

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
}

/* Top header conteiner*/

#top__conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 150px;
}

/* Down header conteiner*/

#down__conteiner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;        
    width: 100%;
}


#logo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    margin-top: 20px;
}