POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_HOST=db
POSTGRES_PORT=5432
POSTGRES_DB=growcoredb

JWT_SECRET=your_jwt_secret
JWT_ACCESS_COOKIE_NAME=your_jwt_access_cookie_name
JWT_REFRESH_COOKIE_NAME=your_jwt_refresh_cookie_name
