.slider__button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
    border: solid white 1px;
    border-radius: 10px;
    min-width: 159px;
    max-width: 160px;
    height: 34px;
}

.slider__button--link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 85%;
    border-right: solid white 1px;
}

.slider__button--link:hover {
    
}

.slider__button--image {
    object-fit: cover;
    padding: 2px 5px;
}