<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GrowCore</title>

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    
    <link href="https://fonts.googleapis.com/css2?family=Cagliostro&family=Kaushan+Script&family=Lexend+Deca:wght@100..900&family=Montserrat:wght@100..900&family=Share+Tech+Mono&display=swap" rel="stylesheet">

    <!-- Slick -->
    <link rel="stylesheet" type="text/css" href="libs/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="libs/slick/slick-theme.css" />

    <!-- Style -->
    <link rel="stylesheet" href="css/main.css">

    <!-- Lottie Animation -->
    <script src="https://unpkg.com/@lottiefiles/dotlottie-wc@0.8.11/dist/dotlottie-wc.js" type="module"></script>
</head>

<body>
    <nav class="nav" id="nav">
        <script type="module">import { loadNav } from './js/components/nav.js'; loadNav();</script>
    </nav>
    
    <header class="header" id="home">
        <div class="header__container">
            <div class="header__content">
                <div class="header__text">
                    <h1 class="header__title">Smart Greenhouse Solutions</h1>
                    <h3 class="header__subtitle">GrowCore is an intelligent greenhouse management system that monitors, controls and optimizes plant growth using modern technologies</h3>
                </div>
                <div class="header__buttons">
                    <a class="header__button header__button--learn__more" href="pages/shop.html">Learn More</a>
                    <a class="header__button header__button--contact__us" href="#contact">Contact Us</a>
                </div>
                <p class="header__note">Automated climate control, smart monitoring, and sustainable growth — all in one system</p>
            </div>
            <img class="black-shadow__image" src="assets/images/blocks/header/Black-Shadow.avif">
        </div>
    </header>

    <main class="main" id="about">
        <div class="fog">
            <div class="fog__layer fog__layer--1"></div>
        </div>

        <section class="main__info">
            <section class="about">
                <h2 class="about__title title">About Us</h2>
                <div class="about__text-container">
                    <p class="about__text text">We are GrowCore &mdash; a startup founded in 2025 with a mission to make smart greenhouse technology accessible to everyone.</p>
                    <p class="about__text text">We design and develop automated home greenhouse systems that combine climate control, smart monitoring, and efficient resource management in one integrated solution</p>
                    <p class="about__text text">Our goal is to help people grow healthier plants with less effort by using modern electronics, automation, and data-driven control. GrowCore systems monitor temperature, humidity, soil conditions, and lighting, allowing users to create the ideal environment for plant growth.</p>
                    <p class="about__text text">As a young and innovative startup, we focus on sustainability, simplicity, and reliability. We believe that the future of home gardening lies in smart automation and conscious resource use.</p>
                    <p class="about__text text">GrowCore is more than just a product &mdash; it's a step toward smarter, greener living.</p>
                </div>
            </section>

            <section class="services">
                <dotlottie-wc class="earth-lottie" src="https://lottie.host/1324f224-8388-465d-87c5-e674d85007c5/z5tODF8wid.lottie" speed="0.5" style="width: 500px;height: 500px;" autoplay loop></dotlottie-wc>

                <div class="services__content">
                    <h2 class="services__title title">Our Services</h2>
                    <div class="services__text-container">
                        <p class="services__text text">GrowCore operates without borders.</p>
                        <p class="services__text text">Our solutions, services, and products are designed to be accessible worldwide, enabling smart and sustainable plant growth wherever you are.</p>
                    </div>
                </div>
            </section>
        </section>

        <section class="main__products">
            <h1 class="brand-title title">GrowCore</h1>
            
            <section class="slider__section">
                <div class="slider__wrapper">
                    <div class="slider">
                        <article class="slider__item">
                            <div class="slider__content">
                                <span class="slider__badge">New Technology</span>
                                <h2 class="slider__title">Smart GreenHouse</h2>
                                <p class="slider__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, exercitationem.</p>

                                <div class="slider__button">
                                    <script type="module">import { loadSliderBtn } from './js/components/slider.js'; loadSliderBtn();</script>
                                </div>
                            </div>

                            <img class="slider__img" src="assets/images/blocks/slider/products/GreenHouse.webp" alt="">
                        </article>

                        <article class="slider__item">
                            <div class="slider__content">
                                <span class="slider__badge">New Technology</span>
                                <h2 class="slider__title">Smart GreenHouse</h2>
                                <p class="slider__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, exercitationem.</p>

                                <div class="slider__button">
                                    <script type="module">import { loadSliderBtn } from './js/components/slider.js'; loadSliderBtn();</script>
                                </div>
                            </div>

                            <img class="slider__img" src="assets/images/blocks/slider/products/GreenHouse.webp" alt="">
                        </article>

                        <article class="slider__item">
                            <div class="slider__content">
                                <span class="slider__badge">New Technology</span>
                                <h2 class="slider__title">Smart GreenHouse</h2>
                                <p class="slider__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, exercitationem.</p>

                                <div class="slider__button">
                                    <script type="module">import { loadSliderBtn } from './js/components/slider.js'; loadSliderBtn();</script>
                                </div>
                            </div>

                            <img class="slider__img" src="assets/images/blocks/slider/products/GreenHouse.webp" alt="">
                        </article>

                        <article class="slider__item">
                            <div class="slider__content">
                                <span class="slider__badge">New Technology</span>
                                <h2 class="slider__title">Smart GreenHouse</h2>
                                <p class="slider__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, exercitationem.</p>

                                <div class="slider__button">
                                    <script type="module">import { loadSliderBtn } from './js/components/slider.js'; loadSliderBtn();</script>
                                </div>
                            </div>

                            <img class="slider__img" src="assets/images/blocks/slider/products/GreenHouse.webp" alt="">
                        </article>

                        <article class="slider__item">
                            <div class="slider__content">
                                <span class="slider__badge">New Technology</span>
                                <h2 class="slider__title">Smart GreenHouse</h2>
                                <p class="slider__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, exercitationem.</p>

                                <div class="slider__button">
                                    <script type="module">import { loadSliderBtn } from './js/components/slider.js'; loadSliderBtn();</script>
                                </div>
                            </div>

                            <img class="slider__img" src="assets/images/blocks/slider/products/GreenHouse.webp" alt="">
                        </article>

                        <article class="slider__item">
                            <div class="slider__content">
                                <span class="slider__badge">New Technology</span>
                                <h2 class="slider__title">Smart GreenHouse</h2>
                                <p class="slider__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, exercitationem.</p>

                                <div class="slider__button">
                                    <script type="module">import { loadSliderBtn } from './js/components/slider.js'; loadSliderBtn();</script>
                                </div>
                            </div>

                            <img class="slider__img" src="assets/images/blocks/slider/products/GreenHouse.webp" alt="">
                        </article>

                        <article class="slider__item">
                            <div class="slider__content">
                                <span class="slider__badge">New Technology</span>
                                <h2 class="slider__title">Smart GreenHouse</h2>
                                <p class="slider__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, exercitationem.</p>

                                <div class="slider__button">
                                    <script type="module">import { loadSliderBtn } from './js/components/slider.js'; loadSliderBtn();</script>
                                </div>
                            </div>

                            <img class="slider__img" src="assets/images/blocks/slider/products/GreenHouse.webp" alt="">
                        </article>
                    </div>
                </div>
            </section>

            <section class="why">
                <div class="why__container">
                    <div class="why__content">
                        <h2 class="why__title title">Why GrowCore</h2>
                        <div class="why__text-container">
                            <p class="why__text text">GrowCore simplifies home growing through smart automation and thoughtful design.</p>
                            <p class="why__text text">Our systems monitor and adjust temperature, humidity, and lighting in real-time, ensuring optimal conditions for your plants</p>
                            <p class="why__text text">We combine reliability with sustainability to reduce manual effort and resource waste.</p>
                            <p class="why__text text">GrowCore is a smart ecosystem that adapts to your lifestyle.</p>
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <section class="main__sponsors">
            <section class="sponsors">
                <h2 class="sponsors__title title">Our Partners</h2>
                <div class="sponsors__text-container">
                    <p class="sponsors__text text">We are grateful to our sponsors for their trust and support.</p>
                    <p class="sponsors__text text">Their contribution helps us grow, launch new ideas, and create more value for our community</p>
                </div>
            </section>
        </section>
    </main>

    <footer class="footer" id="footer">
        <script type="module">import { loadFooter } from './js/components/footer.js'; loadFooter();</script>
    </footer>

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="libs/slick/slick.min.js"></script>

    <script type="module" src="js/main.js"></script>
</body>
</html>