@import "tailwindcss";

:root {
  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  min-height: 100%;
  margin: 0;
}


/* Header Popover */
.catalog-popover-centered {
  position: fixed !important;
  top: 6rem !important;
  left: max(0px, calc((100% - 80rem) / 2)) !important;
  right: auto !important;
  width: min(100%, 80rem) !important;
  height: calc(100vh - 160px) !important;
  transform: none !important;
}

.catalog-popover-centered .ant-popover-content {
  width: 100%;
  height: calc(100vh - 160px);
  overflow-y: auto;
}

.catalog-popover-centered .ant-popover-inner {
  width: 100%;
  padding: 0;
  overflow-y: auto;
}


/* Header Icons */
.header-icon {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

